source https://api.nuget.org/v3/index.json
nuget Microsoft.Owin 4.0.0 
nuget Microsoft.Owin.StaticFiles >= 2.1.0
nuget Microsoft.Owin.FileSystems >= 2.1.0 
nuget Microsoft.Owin.Host.SystemWeb 4.0.0  
nuget Microsoft.AspNet.WebApi 5.2.4  
nuget Microsoft.AspNet.WebApi.Client 5.2.4  
nuget Microsoft.AspNet.WebApi.Core 5.2.4  
nuget Microsoft.AspNet.WebApi.WebHost 5.2.4  
nuget Microsoft.Owin.SelfHost
nuget Newtonsoft.Json framework: <= net452

nuget Microsoft.AspNet.WebApi 5.2.4  
nuget Microsoft.AspNet.WebApi.Client 5.2.4  
nuget Microsoft.AspNet.WebApi.Core 5.2.4  
nuget Microsoft.AspNet.WebApi.WebHost 5.2.4  
nuget Microsoft.CodeDom.Providers.DotNetCompilerPlatform 1.0.8  
nuget Microsoft.Net.Compilers 2.6.1  
nuget Microsoft.Owin 4.0.0  
nuget Microsoft.Owin.Host.SystemWeb 4.0.0  

nuget Owin 1.0  
nuget System.Collections.Immutable 1.5.0
nuget Microsoft.Data.Services.Client
nuget Microsoft.Data.OData
nuget Microsoft.Owin.StaticFiles >= 2.1.0
nuget Microsoft.Owin.FileSystems >= 2.1.0
nuget Microsoft.AspNet.WebApi.OwinSelfHost

nuget Microsoft.Owin.Cors 
nuget Microsoft.AspNet.Cors
nuget Microsoft.Owin.Cors
nuget Microsoft.Net.Compilers
nuget MSTest.TestAdapter 1.3.2 prerelease restriction: >= net452
nuget MSTest.TestFramework 1.3.2 prerelease restriction: >= net452
nuget Microsoft.Net.Http 